

<div class="row">
<div class="addToStory">
  <div class="basicInfo">

    <!-- <div ng-hide="isEditingStoryInfo" class="editingStoryInfo">
      <h1>{{story.title}}</h1>
      <p>{{story.idea}}</p>
      <p>
        {{story.tags}}
      </p>
    </div> -->

    <div ng-switch="isEditingStoryInfo" >
      <div ng-switch-when="true" >

        <div class="form-group">
          <label for='title'>Story Title:</label>
          <input type="text" id='title' name='title' class="form-control"
            placeholder="enter story title here"
            ng-model="storyInfoEdit.title"
            required />
        </div>


        <div class="form-group">
          <label for="idea">Idea or Theme:</label>
          <textarea class="form-control" rows="3"
            id="idea" name="idea"
            placeholder="enter some description of the idea or theme for this story"
            ng-model="storyInfoEdit.idea"
            required >
          </textarea>
        </div>

        <!-- <div class="form-group">
          <label for="tags">Tags:</label>
          <input type="text" id="tags" name="tags"
            ng-model="storyInfoEdit.tags"
            class="form-control"
            placeholder="enter tags using twitter-like syntax (e.g. #summerDay)"/>
        </div> -->

        <div class="form-group">
          <label for="tags">Tags:</label>
          <tags-input name="tags" ng-model="inputTags" class="bootstrapTagInput" add-on-space=true add-from-autocomplete-only=false>
            <auto-complete source="loadTags($query)" min-length=1></auto-complete>
          </tags-input>
          <!-- <pre>Model: {{inputTags | json}}</pre>
          <pre>Story Model: {{storyInfoEdit.tags}}</pre> -->
        </div>

        <div class="form-group">
          <label for="invitedUsers">Invited Users:</label>
          <tags-input name="invitedUsers" ng-model="inputInvitedUsers"
              class="bootstrapTagInput" placeholder="Invite a user"
              add-from-autocomplete-only=true
              replace-spaces-with-dashes=false >
            <auto-complete source="loadUserList($query)" min-length=1></auto-complete>
          </tags-input>
          <pre>Model: {{inputInvitedUsers | json}}</pre>
        </div>

        <div class="form-group">
          <label for="openToAnyoneFlag">Open to anyone: </label>
          <input type="checkbox" ng-model="openToAnyoneFlag">
        </div>

      </div>
      <div ng-switch-default >

<div class="storyIdeaBy">
  <!-- {{story.userUid}} -->
  <div ng-if="userAvatarURL(story.userUid)"><img ng-src="{{userAvatarURL(story.userUid)}}"/></div>
  <div>{{userDisplayName(story.userUid)}}</div>
</div>

        <h1>{{story.title}}</h1>
        <p>{{story.idea}}</p>
        <p>
          {{storyTagsForReadOnlyDisplay()}}
        </p>
        <p>
          {{invitedUsersReadOnlyDisplay()}}
        </p>

      </div>
    </div>

    <!-- <div ng-show="isEditingStoryInfo" class="editingStoryInfo0">
    </div> -->

    <div class="storyListItemLinks">
      <div ng-if="signedIn() && story.userUid === currentUser().uid">

        <div ng-hide="isEditingStoryInfo">
          <ul class="storyListItemLinks">
            <li><a ng-click="editStory()">edit</a></li>
            <li><a ng-click="deleteStory()">delete</a></li>
          </ul>
        </div>

        <div ng-show="isEditingStoryInfo">
          <ul class="storyListItemLinks">
            <li><a ng-click="commitStoryInfoChanges()">commit changes</a></li>
            <li><a ng-click="cancelStoryInfoChanges()">cancel</a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <div class="storyContent">
    <div class="storyContentEmpty" ng-show="storyContentEmpty()">
        This story has not been started yet.
    </div>
    <div ng-hide="storyContentEmpty()">
      <div class="storyContentRepeat" ng-repeat="(storyContentItemId, storyContentItem) in storyContent">

        <div ng-hide="storyContentItemId === editingContentId" class="storyContentItem">
          <!-- <div class="storyContentItemBy">{{ storyContentItem.userUid }}</div> -->

          <div class="storyContentItemBy">
            <!-- {{ storyContentItem.userUid }} -->
            <div ng-if="userAvatarURL(storyContentItem.userUid)"><img ng-src="{{userAvatarURL(storyContentItem.userUid)}}"/></div>
            <div>{{userDisplayName(storyContentItem.userUid)}}</div>
          </div>

          <div class="storyContentItemText">
              <p>{{storyContentItem.text}}</p>
              <div ng-if="signedIn() && storyContentItem.userUid === currentUser().uid">
                <ul class="storyListItemLinks">
                  <li><a ng-click="editStoryContentItem(storyContentItemId, storyContentItem)">edit</a></li>
                  <li><a ng-click="deleteStoryContentItem(storyContentItemId)">delete</a></li>
                  <!-- <li><a ng-click="branchStory(storyContentItemId)">branch story</a></li> -->
                </ul>
              </div>
          </div>

        </div>

        <div ng-show="storyContentItemId === editingContentId" class="storyContentItem">
          <div class="storyContentItemText">
          <textarea ng-model="storyContentItemEdit.text" class="form-control" rows="3"></textarea>
          <ul class="storyListItemLinks">
            <li><a ng-click="storyContentItemEditCommit()">commit changes</a></li>
            <li><a ng-click="storyContentItemEditCancel()">cancel</a></li>
          </ul>
          </div>
        </div>


      </div>
    </div>
  </div>

  <div ng-hide="isStoryFinished()" class="newContentItem">

    <form name="newContentItemForm" ng-submit="saveNewStoryContentItem()">

      <div class="form-group">
        <label for='nextStoryContentItemText'>Next Story Piece:</label>
        <textarea rows="3" name='nextStoryContentItemText' class="form-control"
          placeholder="enter story next story piece here"
          ng-model="nextStoryContentItem.text"
          required ></textarea>
      </div>

      <div class="btn-group btn-group-justified">
        <div class="btn-group">
          <button type="submit" class="btn btn-default" ng-disabled="!signedIn()">Save</button>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-default" ng-click="cancelStoryContent()">Cancel</button>
        </div>
      </div>


    </form>

  </div>

  <div ng-show="isStoryFinished()" class="storyFinished">
      This story is finished.
  </div>

</div>

<!-- <div class="row"> -->
<!-- {{ stories | json }} -->
<!-- </div> -->
<!-- <p>isSignedIn? {{signedIn()}}</p> -->
<!-- <p>currentUser: {{currentUser()}}</p> -->
<!-- <p>currentUser: {{whatIsTheFuckingUser()}}</p> -->
</div>
