
<!-- <div class="row"> -->
<!-- {{ stories | json }} -->
<!-- </div> -->
<!-- <p>isSignedIn? {{signedIn()}}</p> -->
<!-- <p>currentUser: {{currentUser()}}</p> -->
<!-- <p>currentUser: {{whatIsTheFuckingUser()}}</p> -->

<!-- <div class="row">
  <input type="text" class="form-control" ng-model="storySearchFields.searchStories" placeholder="{{searchStoriesPlaceholder()}}"/>
</div> -->

<div class="row">
<div id="storiesDiv">
  <!-- <ul ng-repeat="storyItem in stories">
    <li>{{storyItem.title}}: {{storyItem.idea}}</li>
  </ul> -->
<div ng-hide="hasStoriesInInbox">
  <p>
    There are no stories in your inbox! So sad.
  </p>
</div>
<div ng-show="hasStoriesInInbox" class="storyListItem" ng-repeat="storyItem in storiesInbox | orderByPriority | orderBy:'$id':true" >
  <h2>{{storyItem.title}}</h2>
  <p>
    {{storyItem.idea}}
  </p>

  <div ng-if="signedIn() && storyItem.userUid !== currentUser().uid">
    <ul class="storyListItemLinks">
      <li><a ng-click="storyClicked(storyItem.$id)">view</a></li>
      <li>
        <span ng-show="isStoryUndecided(storyItem.$id)"><a ng-click="acceptStoryInvite(storyItem.$id)">accept</a></span>
        <span ng-show="isStoryAccepted(storyItem.$id)">ACCEPTED</span>
      </li>
      <li>
        <span ng-show="isStoryUndecided(storyItem.$id)"><a ng-click="declineStoryInvite(storyItem.$id)">decline</a></span>
        <span ng-show="isStoryDeclined(storyItem.$id)">DECLINED</span>
      </li>
      <li><a ng-click="dismissStoryFromInbox(storyItem.$id)">dismiss</a></li>
    </ul>
  </div>

  <div ng-if="signedIn() && storyItem.userUid === currentUser().uid">
    <ul class="storyListItemLinks">
      <li><a ng-click="storyClicked(storyItem.$id)">view</a></li>
      <!-- <li><a ng-click="deleteStory(storyItem.$id)">delete</a></li> -->
      <li><a ng-click="dismissStoryFromInbox(storyItem.$id)">dismiss</a></li>
    </ul>
  </div>

</div>




</div>
</div>
