<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
    <li ng-cloak ng-show-auth="login" ng-controller="LoginController"><a href="#" ng-click="logout()">Log Out</a></li>
    <li ng-cloak ng-show-auth="['logout','error']"><a href="#/login">Log In</a></li>
  </ul>
  <h3 class="text-muted">Story Hive 0001</h3>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
<h1>Polaroid Wes Anderson Schlitz</h1>
</div>
<div class="panel-body">
  <p>
  Brooklyn street art craft beer selfies roof party, plaid disrupt hashtag distillery Vice biodiesel banh mi cray Marfa single-origin coffee. IPhone squid vegan, tofu crucifix Brooklyn 3 wolf moon authentic artisan Helvetica cray single-origin coffee.
</p>
</div>
<ul class="list-group">
  <li class="list-group-item">
    Brooklyn street art craft beer selfies roof party...
  </li>
  <li class="list-group-item">
    plaid disrupt hashtag distillery Vice biodiesel banh mi cray Marfa single-origin coffee...
  </li>
  <li class="list-group-item">
     IPhone squid vegan, tofu crucifix Brooklyn 3 wolf moon authentic artisan Helvetica cray single-origin coffee...
   </li>
   <li class="list-group-item">
    Banksy before they sold out viral actually keffiyeh, mumblecore...
  </li>
  <li class="list-group-item">Forage hella organic squid High Life craft beer normcore 90's...</li>
  <li class="list-group-item"> PBR chia Tonx synth mlkshk McSweeney's, small batch lo-fi...</li>
   <li class="list-group-item">...</li>
</ul>

</div>
