
<!-- <div class="row"> -->
<!-- {{ stories | json }} -->
<!-- </div> -->
<!-- <p>isSignedIn? {{signedIn()}}</p> -->
<!-- <p>currentUser: {{currentUser()}}</p> -->
<!-- <p>currentUser: {{whatIsTheFuckingUser()}}</p> -->

<div class="row">
  <input type="text" class="form-control" ng-model="storySearchFields.searchStories" placeholder="{{searchStoriesPlaceholder()}}"/>
</div>
<div class="row filterOptions">
  <div class="col-sm-4">
    <input type="radio" name="searchBy" ng-model="storySearchFields.searchBy" value="title"><label for="searchBy">Search By Title</label><br/>
    <input type="radio" name="searchBy" ng-model="storySearchFields.searchBy" value="tags">  Search Tags<br/>
  </div>
  <div class="col-sm-4">
    <input type="radio" name="filterBy" ng-model="storySearchFields.filterBy" value="allStories" >  All Stories<br/>
    <input type="radio" name="filterBy" ng-model="storySearchFields.filterBy" value="myStories" >  My Stories<br/>
    <input type="radio" name="filterBy" ng-model="storySearchFields.filterBy" value="participated" >  Stories Participated In<br/>
  </div>
  <div class="col-sm-4">
    <input type="radio" name="storyStatus" ng-model="storySearchFields.storyStatus" value="finishedOnly" >  Finished Stories Only<br/>
    <input type="radio" name="storyStatus" ng-model="storySearchFields.storyStatus" value="inProgress" >  Stories In Progress<br/>
  </div>
</div>

<div class="row">
<div id="storiesDiv">
  <!-- <ul ng-repeat="storyItem in stories">
    <li>{{storyItem.title}}: {{storyItem.idea}}</li>
  </ul> -->
<div class="storyListItem" ng-repeat="storyItem in stories | orderByPriority | filter:searchByFilter | filter:storyFilter2 | filter:storyFilterStatus | orderBy:'$id':true" >
<h2>{{storyItem.title}}</h2>
<p>
  {{storyItem.idea}}
</p>
<ul class="storyListItemLinks">
  <li><a ng-click="storyClicked(storyItem.$id)">view</a></li>
  <li><a ng-show="signedIn() && storyItem.userUid === currentUser().uid" ng-click="deleteStory(storyItem.$id)">delete</a></li>
  <!-- <li><a ng-click="storyClicked(storyId)">view</a></li>
  <li><a ng-show="isOwner(storyId)" ng-click="deleteStory(storyId)">delete</a></li> -->
</ul>
</div>




</div>
</div>
